// колір тексту
$main-color-text: #292929;
$color-hover: #f8f8fa;
$background-input: #f8f8fa;

// шрифт "Space Mono"
$font-mono: 'Space Mono', monospace;

//  шрифт "Space Grotesk"
$font-space-grotesk: 'Space Grotesk', sans-serif;

// font-weight 400
$font-weight-regular: 400;

// font-weight 700
$font-weight-bold: 700;

// фон
$main-background: #fff;
$aside-background: #e5e6e8;
$transition-duration: 0.3s;
